{
  "presets": ["env", "react", "stage-0"],
  "env": {
    "test": {
      "plugins": ["transform-async-to-generator", "transform-es2015-modules-commonjs"]
    },
    "targets": { 
      "uglify": false 
    }
  }
}
