body {
  font-family: Oswald;
  margin: 0;
  overflow-x: hidden;
  color: #686868;
  font-weight: 300; }

html,body,.container
{
    height:100%;
}


#wrapper {
  width: 100%; }

.wrapper_cen{
  width: 850px;
  margin: 7% auto;

}

.welcome{
  color: #ffffff;
  margin-top: 8%;

}

.welcome h1{
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.welcome p{
  font-size: 18px;
  padding: 0;
  line-height: 19px;
  margin-bottom: 30px;}

.my_btn {
    display: inline-block;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    position: relative;}

.btn-white {
    color: #fff;}

.btn-border {
    border: solid 2px;}

.btn-md {
    padding: 1rem 3.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;}

.reg_form_cen{
  width: 350px;
  margin: 0 auto;
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 3%;
  padding-top: 5%;}

.reg_form_cen h4{
  padding: 0px;
  text-align: center;
  font-weight: bold;}

.reg_form_cen form{
  margin-left: 13.5%;}

.btn, .btn:hover {
background-color: #3F4257; !important;
width: 200px;
color: #ffffff; }
