@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('/opt/lampp/htdocs/Post_It/app/client/post_it/assets/font/Oswald-Bold.ttf'); /* IE9 Compat Modes */
  src: local('Oswald'), local('Oswald'),
    url('/opt/lampp/htdocs/Post_It/app/client/post_it/assets/font/Oswald-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    /* url('../fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), IE6-IE8
    url('../fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers
    url('../fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers
    url('../fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); Legacy iOS */
}

body{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: #686868;
  font-weight: 300;
  color: #ffffff;}

html,body,.container{
  height:100%;}

.login-register {
background: url(bg2.jpg) no-repeat center center / cover !important;
height: 100%;
width: 100%;
position: fixed;}

#wrapper {
  width: 100%; }

.wrapper_cen{
width: 850px;
margin: 5% auto;}

.welcome{
  color: #ffffff;
  margin-top: 5%;}

.welcome h1{
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;}

.welcome p{
  font-size: 18px;
  padding: 0;
  line-height: 19px;
  margin-bottom: 30px;}

.my_btn {
    display: inline-block;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    position: relative;}

.btn-white {
    color: #fff;}

.btn-border {
    border: solid 2px;}

.btn-md {
    padding: 1rem 3.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;}

.reg_form_cen{
  width: 350px;
  margin: 0 auto;
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 3%;
  padding-top: 3%;}

.reg_form_cen h4{
  padding: 0px;
  color: #686868;
  font-size: 18px;
  text-align: center;
  font-weight: bold;}

.reg_form_cen form{
  margin-left: 13.5%;}

.reg_form_cen p{
  color: #686868;
  font-size: 13px;
  text-align: center;
  font-weight: normal;
}

.reg_form_cen input[type="password"] {
  width: 300px;}

.reg_form_cen input[type="text"] {
  width: 300px;}

.btn, .btn:hover {
background-color: #3F4257!important;
width: 200px;
color: #ffffff; }

nav{
  background-color: #3F4257!important;
}

nav a{
  font-size: 40px;
  padding-left:20px;
}
.mycontainer
{
  display:table;
  width: 100%;
  margin-top: -50px;
  padding: 50px 0 0 0; /*set left/right padding according to needs*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
}

.row
{
  display: table-row;
  margin-top: -50px!important;
  height: 100vh;
}
.col-md-2 {
  background: #ffffff!important;
  border-right: 1px #e5e5e5 solid;
  height: 100vh;

}
.col-md-10 {
  background: #EDF2F6!important;
  height: 150vh;
  width: 100%;
}

ul.navbar_sidebar{
  list-style-type: none;
  padding-top: 20%;
}

ul.navbar_sidebar li{
  text-align: left;
  padding-bottom: 20%;
  font-size: 18px;
  margin-left: 0px;
}

ul.navbar_sidebar li a{
  color: #000000;
}

.small-cards{
  background-color: #ffffff!important;
  border-radius:5px;
  padding:90px;
  text-align:center;
  margin-right:20px;
  margin-bottom: 20px;

}

.small-cards img{
  border-radius:100%;
  width:120px;
}

.box{
  border: 1px solid #000000;
}

.large-cards{
  background-color: #ffffff!important;
  border-radius:5px;
  padding-left:70px!important;
  padding-top:15px!important;
  padding-bottom:15px!important;
  text-align:left;
  margin-right:0px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.large-cards input[type="text"] {
  width: 320px;}

.large-cards textarea {
}

.allMessageCard{
  margin-top: 50px;
}

.message-cards{
  background-color: #ffffff!important;
  border-radius:5px;
  padding-left:30px!important;
  padding-right:30px!important;
  padding-top:15px!important;
  padding-bottom:15px!important;
  text-align:left;
  margin-right:0px;
  margin-bottom: 20px;
  margin-top: 50px;
}
input{
  color:#000000!important;
}

footer form{
  position: sticky;
}

.errorMsg{
  color: red;
}
